@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
    font-family: "Roboto", sans-serif;

    /* height: 100vh; */
    /* position: relative; */
}

.body {
    /* padding-top: 100px; */
    padding-bottom: 10px;
}

.primary-color {
    color: #FCA737;
}

.bg-color{
    background-color: #EAE7DC;
}

.section-heading-text{
    width: 313px;
    height: 252px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    color: #E85A4F;
}

.heading-bar{
    width: 184px;
    height: 0px;
    border: 8px solid #D8C3A5;
}

.card{
    border-radius: 15px;
    background: #D8C3A5;
}

.card-red{
    border-radius: 15px;
    background: #E98074;
}
@media  (max-width: 576px) { 
    .section-heading-text{
        height: 160px;
        font-size: 40px;
        line-height: 52px;
    }

    .heading-bar{
        width: 130px;
        height: 0px;
        border: 5px solid #D8C3A5;
    }
 }


 @media  (min-width: 992px){

    .container-h{
        height: 720px;
    }

    .section-heading-text{
        margin-top: 150px;
    }

    .row-margin{
        padding-top: 500px;
        padding-bottom: 50px;
    }

 }



.testimonial-view {
    max-width: 900px;
    padding: 50px 15px;
    margin: 0 auto 30px auto;
    border-radius: 3px;

}

.testimonial-view.top-margin .testimonial-block_user {
    margin-top: -60px;
}

@media (min-width: 900px) {
    .testimonial-view.top-margin .testimonial-block_user {
        margin-top: -100px;
    }
}

.testimonial-view img.left-quote {
    opacity: 0.01;
    width: 20%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 40%;
}

@media (min-width: 900px) {
    .testimonial-view .carousel-control-prev {
        left: -50px;
    }

    .testimonial-view .carousel-control-next {
        right: -50px;
    }

    .testimonial-view .carousel-control-next-icon,
    .testimonial-view .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.section-header,
.testimonial-block_user_info_name {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.section-header:after,
.testimonial-block_user_info_name:after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #FCA737;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}

.testimonial-block {
    padding: 15px;
    margin: 50px 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.863),
            rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    color: #333;
    -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
}

@media (min-width: 900px) {
    .testimonial-block {
        padding: 50px;
        margin: 50px;
    }
}

.testimonial-block .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
}

.testimonial-block .testimonial-block_user {
    margin-bottom: 30px;
    text-align: center;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image {
    position: relative;
    margin: 0 15px 30px 15px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image img {
    height: 170px;
    width: 170px;
    border: 7px solid #FFDFB8;
    border-radius: 170px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name {
    margin-bottom: 10px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name:after {
    width: 50px;
    left: calc(50% - 25px);
}

.testimonial-block .testimonial-block_content {
    text-align: center;
    font-size: 18px;
}

.top-margin .testimonial-block .row {
    place-items: normal;
}

.cstm-txt-align {
    top: 40%;
}

@media (max-width: 700px) {
    .cstm-txt-align {
        top: 10%;
    }
}

@media (max-width: 400px) {
    .cstm-txt-align {
        top: 0%;
    }
}

/* Custom Scrollbar */
/* total width */
body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}

body::-webkit-scrollbar-track {
    background-color: #fff
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff
}

#contact .card:hover i,
#contact .card:hover h4 {
    color: #87d37c;
}

/* for input fielsds */

.form-group {
    position: relative;
    margin-bottom: 1.5rem
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 10px;
    transition: all 200ms;
    opacity: 0.5;
    color: rgb(0, 0, 0)
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 69%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    top: 10px
}

.form-control {
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: transparent
}

.form-control:focus {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    outline: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 0.2rem transparent
}


.whatsapp{
    
    position: -webkit-sticky; /* Safari */
    position : sticky;
    bottom:8px;
    right: 8px;
    float: right;
    z-index: 5;
    width: 100%;
}

.whatsapp img{
    max-height: 50px;
    max-width: 50px;
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.speech {
    /* (A1) FONT */
    
    font-family: arial, sans-serif;
    font-size: 1.1em;
    color: #fff;
    /* (A2) DIMENSIONS + BACKGROUND */
    position: relative;
    float: right;
    right: 10px;
    background: #1ea73b;
    padding: 20px;
    border-radius: 10px;
    max-width: 320px;
    margin-right: 40px;
  }

  .modal-backdrop
  {
      opacity:0.9 !important;
  }

  .logo-text{
    width: 128px;
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #D8C3A5;
  }



